*{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
    box-sizing:border-box; 
    color: white;
}


#retour p {
    border: solid white 3px;
    border-radius: 10px;
    width: fit-content;
    padding: 20px 30px;
    color: white;
    margin: 1%;
}

#retour p:hover {
    color: black;
    background-color: white;
}

.titre {
  padding: 2%;  
  text-align: center;
  font-size: 2rem;
}

.video {

}

.video iframe {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    min-width: 40%;

    z-index: 2;
}

@media screen and (max-width: 375px) {
    .video  iframe{
        width: 90vw;
    }
}

.sketchfab iframe {
    border: solid white 4px;
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

@media screen and (max-width: 375px) {
    .sketchfab  iframe{
        width: 90vw;
        height: 50vh;
    }
}

.paragraphe p {
    font-size: 1.2rem;
    
}

.paragraphe {
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
    background-color: rgba(0, 0, 0, 0);
}

.img {
    width: 60%;
    border: solid white 2px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.img_bullet {
    display: flex;
    justify-content: center;
}

.img_multiples {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    
}

@media screen and (max-width: 375px) {
    .img_multiples {
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 375px) {
    .img {
        width: 90vw;
        
    }
}

.reference {
font-style: italic;
padding-top: 80px;
}

.reference a {
    text-decoration: underline;
    color: yellow
}

.liste li a {
    font-style: italic;
    text-decoration: underline;
    color: yellow;
}